@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 255, 255, 255; // #ffffff
  --primary-2: 248, 249, 250; // #F8F9FA;
  --primary-3: 242, 242, 242; //#F2F2F2;

  --secondary: 32, 33, 36; // #202124;
  --secondary-2: 48, 49, 52; // #303134;
  --secondary-3: 23, 23, 23; //#171717;

  --input-border: 223, 225, 229; // #dfe1e5

  // Text base
  --text-primary: #000000;
  --text-secondary: #ffffff;
}

.dark {
  --primary: 32, 33, 36; // #202124;
  --primary-2: 48, 49, 52; // #303134;
  --primary-3: 23, 23, 23; //#171717;

  --secondary: 255, 255, 255; // #ffffff
  --secondary-2: 248, 249, 250; // #F8F9FA;
  --secondary-3: 242, 242, 242; //#F2F2F2;

  --input-border: 95, 99, 104; // #5f6368

  // Text base
  --text-primary: #ffffff;
  --text-secondary: #000000;
}

@layer components {
  .triggers {
    @apply px-4 py-2 mx-auto w-max text-sm text-center whitespace-pre border border-transparent rounded shadow-sm hover:border-input-border bg-primary-2;
  }
}

html {
  box-sizing: border-box;
  touch-action: manipulation;
  scroll-behavior: smooth;
}

html,
body {
  @apply h-full bg-primary text-primary;
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
}

body {
  line-height: 1.5;
  position: relative;
}

#__next {
  @apply w-full h-full isolate flex flex-col items-center justify-between;
  scroll-behavior: smooth;
  min-height: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
input,
button,
textarea,
select {
  font: inherit;
}

img {
  user-select: none;
}
