// SASS Mixins import
@import './mixins';

// Tailwind import
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #{hexToRGBString(#ffffff)};
  --primary-2: #{hexToRGBString(#f8f9fa)};
  --primary-3: #{hexToRGBString(#f2f2f2)};

  --secondary: #{hexToRGBString(#202124)};
  --secondary-2: #{hexToRGBString(#303134)};
  --secondary-3: #{hexToRGBString(#171717)};

  --input-border: #{hexToRGBString(#dfe1e5)};

  // Text base
  --text-primary: #{hexToRGBString(#000000)};
  --text-secondary: #{hexToRGBString(#ffffff)};
}

.dark {
  --primary: #{hexToRGBString(#202124)};
  --primary-2: #{hexToRGBString(#303134)};
  --primary-3: #{hexToRGBString(#171717)};

  --secondary: #{hexToRGBString(#ffffff)};
  --secondary-2: #{hexToRGBString(#f8f9fa)};
  --secondary-3: #{hexToRGBString(#f2f2f2)};

  --input-border: #{hexToRGBString(#5f6368)};

  // Text base
  --text-primary: #{hexToRGBString(#ffffff)};
  --text-secondary: #{hexToRGBString(#000000)};
}

@layer components {
  .triggers {
    @apply px-4 py-2 mx-auto select-none w-max text-sm text-center whitespace-pre border border-transparent rounded shadow-sm hover:border-input-border bg-primary-2;
  }
}

html {
  box-sizing: border-box;
  touch-action: manipulation;
  scroll-behavior: smooth;
}

html,
body {
  @apply h-full bg-primary text-primary;
  padding: 0;
  margin: 0;
  font-family: arial, sans-serif;
}

body {
  line-height: 1.5;
  position: relative;
}

#__next {
  @apply w-full h-full isolate flex flex-col items-center justify-between;
  scroll-behavior: smooth;
  min-height: 100%;
  overflow-x: hidden;
}

img {
  user-select: none;
}
